@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes opacity-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.custom-transition {
  animation-name: opacity-animation;
  animation-duration: 1200ms;
  animation-fill-mode: both;
}
