@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;1,300;1,700&family=Noto+Sans+Georgian:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Noto Sans Georgian", sans-serif;
}

.loader {
  width: 28px;
  height: 28px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opacity-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.custom-transition {
  animation-name: opacity-animation;
  animation-duration: 1200ms;
  animation-fill-mode: both;
}

.book tr,
.book td {
  border: 1px solid rgb(177, 177, 177);
  padding: 5px;
}
.book table {
  margin: 15px 0;
  width: 100%;
}

.disabledCopy {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* In your CSS file or styled component */

.loading-line {
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #000;
  z-index: 9999;
}

.loading-line-progress {
  height: 100%;
  width: 0;
  background-color: #00ff00; /* Adjust color as desired */
  transition: width 0.3s ease-in-out;
}
.progress {
  width: 10%;
  height: 5px;
  background-color: #e907e9;
  animation: progres 1s forwards;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes progres {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@media print {
  /* Add your custom styles for printing here */
  .no-print {
    /* display: none; */
    background-color: red;
  }
}

@media screen and (min-width: 1025px) {
  .dropdown {
    right: 0 !important;
  }
}
